<ion-header>
<!--  
 <ion-grid>

<ion-row>

<ion-col>
  <ion-item lines="none">
    <ion-avatar>
      <ion-img [src]=""></ion-img> 
     </ion-avatar>
    
   </ion-item>
   <ion-item lines="none">
  
     <ion-label>{{challengerName}}</ion-label>
   
   </ion-item>

</ion-col>

VS

<ion-col>
  <ion-item lines="none">
    <ion-avatar>
      <ion-img [src]=""></ion-img> 
     </ion-avatar>
    
   </ion-item>
   <ion-item lines="none">
  
     <ion-label>{{challengedName}}</ion-label>
   
   </ion-item>
</ion-col>



</ion-row>

 </ion-grid>
   -->

    <div class="gamePlayers">
    <div class="challenger">
      <ion-item lines="none">
        <ion-avatar>
          <ion-img src="/assets/logo_prev.png"></ion-img> 
         </ion-avatar>
        
       </ion-item>
       <ion-item lines="none">
      
         <ion-label>Focas</ion-label>
       
       </ion-item>
    
      </div>
    
      
    
      <div class="challenged">
        <ion-item lines="none">
          <ion-avatar>
            <ion-img src="/assets/logo_prev.png"></ion-img> 
           </ion-avatar>
          
         </ion-item>
         <ion-item lines="none">
        
           <ion-label>Focas</ion-label>
         
         </ion-item>
      
        </div>
    
    </div>
  
</ion-header>

<ion-content>
  <div class="gameLetter">
 <h1>F</h1>
  </div>

    <ion-slides scrollbar="false" pager="true" [options]="slideOpts">
      <ion-slide>
        
        <div class="questionStyle">
        
          <h1>Pergunta</h1> 
           <p class="img">?</p> 
     
       <p>  
       <ion-input type="text" placeholder="Resposta"></ion-input>
       </p>  
      </div>
      </ion-slide>
     
    </ion-slides>
</ion-content>
 