<ion-header no-border>

  <div class="login-header">
  
  <img src="assets/logo_prev.png"/>
  
  </div>
  
  
  </ion-header>

<ion-content>

  <div class="center">
    <div class="heading-columm-1">
    
      <h1 class="big-heading" routerLink="/signin">Entrar</h1>
      <h1 class="small-heading">Registar</h1>
      
    </div>
    
    
      </div>

  <form #form="ngForm" (ngSubmit)="signup(form)" method="post">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" ngModel name="femail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" ngModel name="fusername"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" ngModel name="fpassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar Password</ion-label>
      <ion-input type="password" ngModel name="fconfirm"></ion-input>
    </ion-item>


      <div class="linespace"></div>
    <ion-button type="submit" expand="block" [disabled]="internetStatus" shape="round" fill="solid" size="medium" color="success">Registar</ion-button>
   
    
    

  </form>

</ion-content>